node_modules
dist
**/dist/**
.output
.vinxi
.wrangler
coverage
**/coverage/**
pnpm-lock.yaml
package-lock.json
routeTree.gen.ts
*.min.js
*.min.css
apps/api/test/fixtures
packages/database/prisma/migrations
